*{
	 margin: 0;
    padding: 0;
}

body{
	font-size: 81.25%;
	background-color: #FFF;
	color: #444;
	font-family: "Droid Serif",
					Georgia,
					"Times New Roman",
					"PingFang SC",
					"Hiragino Sans GB",
					"Source Han Sans CN",
					"WenQuanYi Micro Hei",
					"Microsoft Yahei",
					serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
.container:before,
.clearfix:before, 
.row:before, 
.clearfix:after, 
.row:after {
    content: " ";
    display: table;
    display: block;
    clear: both;
}

#header{
		padding-top: 35px;
		border-bottom: 1px solid #EEE;
}
.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;

}
.container {
    max-width: 728px;
}
.row{
	margin-right: -10px;
	margin-left: -10px;
}
.clearfix, .row{
	zoom:1;
}

.row [class*="col-"]{
	float:left;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.container, .row[class*="col-"]{
	webkit-box-sizing:border-box;
	moz-box-sizing:border-box;
	box-sizing:border-box;
}
.col-mb-12{
	width: 100%;
}
a{
	text-decoration: none;
}
#logo{
	font-family: cursive;
	color: #333;
	font-size: 2.5em;

}
p{
	display: block;
	margin-block-start:1em;
	margin-block-end:1em;
	margin-inline-start:0px;
	margin-inline-end:0px;
}

.description{
	margin: .5em 0 0;
	color: #999;
	font-style: italic;
}
#ul-menu{
	margin: 25px 0 0;
	padding: 0;
}
a{
	font-size: 16px;
	font-family: cursive;
	color: #333;
	text-decoration: none;
}
#ul-menu a {
    display: block;
    margin-right: -1px;
    padding: 0 20px;
    border: 1px solid #EEE;
    border-bottom: none;
    height: 32px;
    line-height: 32px;
    color: #444;
    float: left;
}
.current{
	background: #f6f6f6;
	width: 100px;
    /* height: 32px; */
    text-align: center;
}

footer{
	font-size:1em;
	text-align:center;
	clear:both;
	padding-top:50px;
	color:black;
}

.social-icon{
	width:20px;
	height:20px;
	margin:0 5px;
}

p{
	font-family: arial;
}

.background:hover{
	background-color: #f6f6f6;
}
.background{
	width: 100px;
    /* height: 32px; */
    text-align: center;
}